<div appMaterializeModal class="modal" #modal="materializeModal">
  <div class="modal-content">
    <h4>Carregando</h4>

    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <p [innerHTML]="mensagem" ></p>
  </div>
  <div class="modal-footer">
  </div>
</div>
